# Backing services: mysql, and influxdb

# Environment variables specified in environment override these values.

# -e MYSQL_USER=${DB_USER}
# -e MYSQL_PASSWORD=${DB_PASS}
# -e MYSQL_DATABASE=${DB_NAME}
# -e MYSQL_ALLOW_EMPTY_PASSWORD=yes ${DBIMAGE})

teddb:
  image: mysql:5.7
  volumes:
    - ./data/mysql:/var/lib/mysql
  # why hostname?
  hostname: teddb
  env_file:
    - ./MYSQL.env
  ports:
    - 3306:3306 # not exposed in prod ?

# docker run -d --name timescaledb -p 5432:5432 -e POSTGRES_PASSWORD=password timescale/timescaledb:1.7.4-pg12
timescaledb:
  image: timescale/timescaledb:1.7.4-pg12
  volumes:
    - ./data/timescale:/var/lib/postgresql/data
  env_file:
    - ./PG.env
  ports:
    - 5432:5432 # not exposed in prod ?

# tedflux:
#   # image: tutum/influxdb:0.10
#   image: tutum/influxdb:0.9
#   hostname: tedflux
#   environment:
#     - PRE_CREATE_DB=ted
#   ports:
#     - "8083:8083"
#     - "8086:8086"

# grafana:
#   image: grafana/grafana
#   # volumes:
#   #   - ./data/grafana/grafana.db:/var/lib/grafana/grafana.db
#   links:
#     - tedflux
#   ports:
#     - 3000:3000
